{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<main class="main-home">
    <article class="container-header offset-md-1 mt-5 position-relative">
        <div class="block-text ps-5 p-5">
            <h2>LA ROCHELLE <br> UNE VILLE D'HISTOIRE ET D'ACTIVITES</h2>
        </div>
        <div class="block-image offset-md-4 position-absolute">
             <img src="{{ asset('/assets/images/home/image 4.png') }}" alt="Home image">
        </div>
    </article>
    <!-- -->
    <section class="container-description">
        <h1>PERLE MARTIME OU L'HISTOIRE S'EMBRASSE AVEC L'OCEAN, UN PORT DE CHARME OU CHAQUE RUE RACONTE SON RECIT SECULAIRE.
    </section>
    <!-- -->
    <article class="container-main offset-md-1 mt-5">
        <div class="main-title">
            <h2>La Rochelle en activités</h2>
        </div>
        <!-- -->
        <div class="main-slider">
            <div class="container-slider-cards d-flex justify-content-center align-items-center">
                <div class="slider-card">
                    <div class="slider-img">

                    </div>

                    <div class="slider-text">
                        <a>Activités Sportives</a>
                    </div>
                </div>

                <div class="slider-card">
                    <div class="slider-img">

                    </div>

                    <div class="slider-text">
                        <a>Visites</a>
                    </div>
                </div>

                <div class="slider-card">
                    <div class="slider-img">

                    </div>

                    <div class="slider-text">
                         <a>Découverte Historique</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- -->
        <div class="main-title">
            <h2>La cuisine Rochelaise et ses produits locaux</h2>
        </div>

        <div class="main-carousel">
            <div class="button-left-arrow">

            </div>

             <div class="container-carousel">
                <div class="image-carousel">

                </div>

                <div class="description-carousel">
                     <a>Les 4 Sergents</a>
                </div>
            </div>

             <div class="button-right-arrow">
            
            </div>
        </div>

    </article>

    <article class="containert-event">
        <div class="event-title">
            <h3>Spectales et festivals</h3>
            <h2>EVENEMENT MAJEURS</h2>
            <hr></hr>
        </div>

        <div class="event-roadmap">

        </div>

    </article>

    <!-- -->
    <article class="container-logement">
        <div class="title-logement">
            <h2>BESOIN D'UN LOGEMENT</h2>
            <h3>Voici notre Séléction !</h3>
        </div>

        <div class="container-owl-carousel-logement">
            <h2>La Rochelle <span>/ Hotel Atlantic</span></h2>
            <div class="owl-carousel-logement">
                <div> Image </div>
            </div>
        </div>
    </article>
</main>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function(){
        $(".owl-carousel").owlCarousel();
        });
    </script>
{% endblock %}