.container-header {
    height: 80vh;
}

.container-header {
    height: 80vh;
}

.container-header .block-text{
    background-color: #0077BE;
    width: 685px;
    height: 348px;
}

.container-header .block-text h2{
    color: white;
    font-size: 50px;
}

.container-header .block-image img{
    width: 850px;
    height: 450px;
    z-index: 2;
    margin-top: -150px;
}

.main-home .container-description {
    background-color: var(--acc-color);
    color: white;
}

.main-home .container-description h1 {
    margin: 8rem 4rem;
}

.main-home .container-description h1 .quoteG, .quoteR {
    font-size: 5em;
    display: flex;
    font-family: 'Roboto', sans-serif;
    max-height: 100px;
}

.main-home .container-description h1 .quoteG {
    margin-left: -3rem;
.container-main .main-title h2{
    color: #0077BE;
    font-size: 40px;
}

.main-home .container-description h1 .quoteR {
    transform: scaleX(-1);
    margin-right: -3rem;
}
.main-slider .container-slider-cards .slider-card {
    width: 350px;
    height: 400px;
}

