.main-home .container-description {
    background-color: var(--acc-color);
    color: white;
}

.main-home .container-description h1 {
    margin: 8rem 4rem;
}

.main-home .container-description h1 .quoteG, .quoteR {
    font-size: 5em;
    display: flex;
    font-family: 'Roboto', sans-serif;
    max-height: 100px;
}

.main-home .container-description h1 .quoteG {
    margin-left: -3rem;
}

.main-home .container-description h1 .quoteR {
    transform: scaleX(-1);
    margin-right: -3rem;
}