{% extends 'base.html.twig' %}

{% block title %}Activite{% endblock %}

{% block body %}
<main>
     <div class="hd mt-4">
        <img src="../image/port.jpg" alt="">
    </div>
    
   
        <div class="activities">
            <a href=""><h4> Activités</h4> </a>
            <li><a href="#"> Aquarium</a></li>
            <li><a href="#">Musée Maritime</a></li>
            <li><a href="#">La Coursive</a></li>
           </div>
           <div class="text1">
            <p>
               À gauche de votre écran, découvrez notre section "Activités". Choisissez parmi une palette d'expériences en un simple clic. Chaque activité est une porte ouverte vers une aventure unique. Cliquez sur l'une d'entre elles pour plonger dans un monde de possibilités :
                aquarium  : Plongez dans un monde sous-marin captivant 
              musé maritime :  l'histoire maritime de La Rochelle au Musée Maritime.
                    île de Ré : Un paradis côtier à portée de La Rochelle
              </p>
       </div>

           <div class="activities">
            <a href=""><h4> Activités</h4></a> 
             <li><a href="#"> Ile de Ré</a></li>
             <li><a href="#">Marché de La Rochelle</a></li>
             <li><a href="#">Plage</a></li>
             <li><a href="#">Fort Boyard</a></li>
            </div>
            
            <div class="centre mt-4">
                <img src="../image/aqqqq.jpg" class="img-fluid" alt="">
            </div>

            <div class="activities">
                <a href=""><h4> Intérieur</h4></a> 
                <li><a href="#">Aquarium</a></li>
                <li><a href="#">musé maritime</a></li>
                <li><a href="#">La Coursive</a></li>
             </div>

            <div class="text2 mt-4">
                <p>L'Aquarium La Rochelle est l'un des principaux sites touristiques de la ville, 
                  offrant une expérience immersive dans le monde fascinant de la vie marine. Situé sur les quais du Vieux Port, 
               cet aquarium a ouvert ses portes en 2001 et est aujourd'hui l'un des plus grands aquariums privés d'Europe.</p>
           </div>
              
            <div class="activities">
                <a href=""><h4> Extérieur</h4></a> 
                <li><a href="#">île de Ré</a></li>
                <li><a href="#">Marché de La Rochelle</a></li>
                <li><a href="#">Plage de la Concurrence</a></li>
                <li><a href="#">visite Fort-Boyard</a></li>
            </div>
</main>

{% endblock %}
