<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="/assets/css/bootstrap.css">
        <!-- css principal -->
        <link rel="stylesheet" href="{{ asset('assets/css/root.css') }}">
        <link rel="stylesheet" href="/assets/css/pages/home.css">

        <!-- css boostrap -->






        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="/assets/js/bootstrap.js"></script>
        <script src="/assets/js/bootstrap.bundle.js"></script>

        {% block js %}{% endblock %}
    </body>
</html>
